@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

body {background-color: #b3cb88;
    background-image: url("../images/teacupcover.jpg");
    background-size: cover;
}

p {
    color: green;
    font-family: 'Encode Sans Expanded', sans-serif;
    word-wrap: break-word;
    text-align: justify;
}

h1 {font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
    color: green;
    background-color: #b3cb88;}

h2 {background-color: #b3cb88;
    text-align: center;
    color: green;
    width: 450px;
    border: 5px dotted green;
    padding: 25px;
    margin: 25px;
}

ul {
    color: #445603;
}

#nav a:link {
    color: green;
    font-family: 'Encode Sans Expanded', sans-serif;
   
}

